{% extends "mainpage/mainTemplates.html" %}

{% block title %}
     news page
{% endblock %}


{% block content %}
    <div id="tags_list">
        <h1>Сбережение</h1>
        <p>Все время функционирования системы разбивается на циклы. Каждый цикл начинается с периода "onDuration".
    Во время периода onDuration - МС прослушивает радиоканал и осуществляет прием данных от БС (прием канала PDCCH) с целью узнать появлись ли на БС данные для передачи этой МС. Если в течение этого времени eNB не сообщила о наличии данных для передачи, то МС отключает свой радио приемник до окончания цикла, длительность которого определяется как ShortDRX - onDuration. Где ShortDRX определяет общую длительность цикла.
    Кроме цикла ShortDRX, может быть задан цикл LongDRX (как следует из названия, длительность второго цикла больше длительности первого). Использование циклов LongDRX позволяет еще больше снизить энергозатраты МС (но при этом также увеличивается задержка передачи данных). МС переходит к использованию LongDRX цикла, если в течение таймера ShortDRXCycleTimer не было передач данных от БС. После каждого приема данных от БС этот таймер перезапускается.
    Отметим, что на предстваленном выше рисунке длительность цикла LongDRX больше, чем длительность ShortDRXCycleTimer.

    Использование циклов с двумя разными длительностями можно продемонстрировать при так называемом Интернет серфинге (т.е. при просмотре страниц в Интернете или поиске информации). Пока происходит загрузка Интернет страницы и встроенных в нее объектов - используется цикл ShortDRX. Когда страница загружена, пользователь начинает ее читать, в этот момент происходит переключение на использование цикла LongDRX. После того, как пользователь запросит загрузку новой страницы, происходит возврат к использованию ShortDRX циклов.

    Как уже отмечалось выше, использование DRX режима не только снижает энергозатраты МС, но и увеличивает задержку при передаче данных. Соответственно, при задании параметров этого режима необходимо учитывать требования к качеству обслуживания (Quality of Service, QoS), которые предъявляются передаваемым потоком данных.

    Ниже на рисунке приводится еще один пример работы DRX режима с переключением между ShortDRX и LongDRX циклами. А также в этом случае длительности LongDRX и ShortDRXCycleTimer совпадают.
        </p>
    </div>
{% endblock %}