#title {
    font-family: 'Lora', serif;
}

#main_body{
    padding: 10px;
    position: fixed;
    top: 7%;
    bottom: 7%;
}

#body{
    font-family: 'PT Sans', sans-serif;

}

div.list-group{
    padding-bottom: 20px;
    border-bottom: 3px solid gray;
    position: fixed;
    top: 3%;
    width: 98%;
}


#footer{
    font-family: 'Indie Flower', cursive;
    height: 150px;
    width: 98%;
    border-top: 3px solid gray;
    position: fixed;
    top: 92%;
    text-align: center;
}