{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    home page
{% endblock %}


{% block content %}

<div id="main_text_on_page">
    {% if user.is_authenticated %}

        <h3>Качество, качество, качество</h3>
        <p> Роботы Google и Bing любят свежий контент.Они вычисляют
                   “свежесть” страницы с момента, когда роботы нашли её,
                   и до последнего обновления контентаКонтент должен
            быть свежим – а не вялым, неактуальным контентом 1999 года.
            Чтобы решить эту проблему, вы можете видоизменить существующий
            контент. Или создать новый в своём блоге. Новый блог = новая
            страница на вашем сайте. За это вы заработаете несколько очков у
            поисковых систем.Но не штампуйте контент специально для
            поисковых роботов. Если ваш сайт станет слишком предсказуемым:
            как сделать фигуры из папье-маше… бла, бла…как долго делать фигуры
            из папье-маше… бла, бла… что понадобится для поделки из папье-маше…
            — срочно придумайте что-нибудь новое, непохожее на предыдущий контент!
            Блог — отличная платформа для всех видов контента — статей,
            инфографик, подкастов, видео, новостей, руководств, иснтрукций,
            исследований, мемов – всё, что может понравится настоящим и
            потенциальным покупателям.Не позволяйте им забыть, что вы всё ещё живы. </p>
        <h3>Перелинковка – тонкая грань</h3>
        <p>Каждый хороший блогер знает, что сайт, на котором есть много разных
            ссылок, завоюет расположение поисковых роботов.Но из-за
            существования схем обмена ссылками (механизм, позволяющий
            манипулировать ранжированием поисковых систем) ссылки, поступающие
            на ваш сайт (бэклинки), тщательно проверяются поисковыми роботами.
            Откуда на ваш сайт приходят ссылки? Они приходят из проверенных
            источников? Или они приходят с плохих сайтов, занимающихся
            продажей ссылок?Вы сможете построить качественные ссылки
            с помощью комментариев на сайтах с выскоим рейтингом. Но
            они обязательно должны быть похожи тематикой с вашим сайтом.
            Например, если тематика вашего сайта — наблюдение за птицами,
            поищите сайты, посвященные саду и огороду, блоги о дикой
            природе, и т.п.Вы можете улучшить отношения с другими
            админами, размещая внешние ссылки в своих постах в блоге.
            Опять же, убедитесь, что каждая ссылка соответствует
            тематике статьи. Например, не ссылайтесь на сайт о кошках,
            если вы пишите о дорогих машинах. Конечно, если тем вашей
            статьи не затрагивает оба этих предмета.Блог — это создание
            прочных отношений и с читателями, и с соседними сайтами. </p>
        <h3>Готовьтесь к испытаниям</h3>
        <p>Блог не обяазтельно приведёт ваши позиции в топ Google
            и Bing за одну ночь. Это долгосрочный проект, для которого
            нужны время, упорство и идеи. Не существует лёгкого пути.
            И хотя не каждый блог может стать сенсацией, но любой пост
            в блоге должен представлять ценность для читателей. В
            конце концов, вы преследуете именно такую цель. Чем больше
            вовлечённость и репостов, тем выше позиции ранжирования,
            лучше видимость и больше покупателей.Что из этого
            <a href="http://127.0.0.1:8000/blog/create_article"style="color: white"> вы готовы </a> потерять?</p>
    {% else %}
        <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Приветствую:)</h3>
        <p>Рад приветствовать Вас на  нашем сайте.
        Наш сайт это не совсем блог-платформа для топовых
        блоггеров. Но, если вы только начинаете, или у Вас
        есть идеи, которыми Вы желаете поделиться, но опасаетесь
        быть непонятыми - милости просим к нашему сообществу.</p>
        <p>Тут Вы можете писать небольшие блоги, добавлять к ним
        фотографии(картинки), оставлять комментарии под
        записями других пользователей. А главное - не бояться
        выражать свои мысли, ведь у нас тут все анонимно.</p>
        <p>Если Вы еще не зарегистрировались, то можете сделать это
        <a  href="http://127.0.0.1:8000/register" style="color: white"> сейчас</a>. У нас простая форма). Если Вы уже имеете
        аккаунт - Вы можете просто  <a href="http://127.0.0.1:8000/accounts/login" style="color: white"> войти</a>. Сразу
        после регистрации и авторизации Вы можете вернуться на
        эту страницу и получить несколько советов по созданию
        первой статьи.</p>
    {% endif %}
</div>
{% endblock %}