{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title id="title">
            {% block title %}

            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'my_blog/main.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lora|PT+Sans&display=swap" rel="stylesheet">
    </head>

    <body id="main_body">


        <header class="nav">
            <a href="/" rel="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ55hUJBQypwhxOO6dsifvOqoAWzJk2KHqO1ECcEnFRXAgkRTXpwA" alt="blog" class="logo" width="100" height="66">
            </a>
            <nav class="top_menu">
                <form class="button-nav">
                    <!--input type="button" value="main" onClick='location.href="http://127.0.0.1:8000/"'-->
                    <input type="button" value="trends" onClick='location.href="http://127.0.0.1:8000/trands/"'>
                    <input type="button" value="news" onClick='location.href="http://127.0.0.1:8000/news/"'>
                </form>
                <form class="searching">
                    <input class="big_text" type="search" placeholder="Search" aria-label="Search">
                    <button class=" " type="submit">Search</button>
                </form>
            <!--button type="button" class="list-group-item list-group-item-action" disabled>trands</--button -->
            </nav>
        </header>
        <div id="content_body">

        {% block content %}

        {% endblock %}

        {% if is_paginated %}

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {% if not previous_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    {% for n in page_objects.paginator.page_range %}
                        {% if page_objects.number == n %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ n }}">{{ n }}
                                <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% elif n > page_objects.number|add:-4  and n < page_objects.number|add:4 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}" tabindex="+1" aria-disabled="true">Next</a>
                    </li>
                    </li>
                </ul>
            </nav>
        {% endif %}




            <div class="header-tabs">
                {% if user.is_authenticated %}
                <p> Hi, {{user.username}} </p>
                <nav class="top_menu">
                    <form class="button-menu">
                        <input type="button" value="my_blog" onClick='location.href="http://127.0.0.1:8000/blog/"'>
                    </form>
                </nav>

                    <!--a href="http://127.0.0.1:8000/blog">blog</a--><!-- /cart-->
                    <a href="/logout/">logout</a><!--/logout -->
                {% else %}
                    <a href="/register">register</a><!-- /register-->
                    <a href="/accounts/login">login</a><!--/accounts/login -->
                {% endif %}
            </div>
        </div>
        <footer id="footer">
            Copyright Cris Brown
        </footer>
    </body>
</html>




