{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    blog list
{% endblock %}

{% block content %}
    <div class="button_create_post_tag">
        <p type="button" class=" btn btn-dark btn-block" href="{% url 'tags_list_url' %}">Теги</p>
        <p type="button" class="btn btn-dark btn-block" href="{% url 'tag_create_url' %}">Создать тег</p>
        <p type="button" class="btn btn-dark btn-block" href="{% url 'post_create_url' %}">Создать пост</p>
    </div>
    <div id="tags_list">
        {% for post in page_objects.object_list %}
            {% include 'network/includes/blog_template.html' %}
        {% endfor %}
    </div>
{% endblock %}



