{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    create Tag
{% endblock %}

{% block content %}
    <form action="{% url 'post_create_url' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div id="post_create">
            <h3>  Название
                {{ form.article_title }}
            </h3>
            <h3>  Текст
                {{ form.article_text }}
            </h3>
            <h3> Теги
                {{ form.tags }}
            </h3>
            <h5>
                {{ form.picture }}
            </h5>
            <button type="submit" class="btn btn-dark">Создать</button>
        </div>
    </form>
{% endblock %}