{% extends "mainpage/mainTemplates.html" %}


{% block title %}
    Edit post - "{{ post.article_title|title}}"
{% endblock %}

{% block content %}
    <div id="tags_list">
        <form action="{{ post.get_update_url }}" method="post">
            {% csrf_token %}
            <p id="update_post">{{ form.article_title}}</p>
            <p id="update_post">{{ form.slug}}</p>
            <p id="update_post">{{ form.article_text}}</p>
            <p id="update_post">{{ form.tags}}</p>
            <p id="update_post">{{ form.author}}</p>
            <button type="submit" class=" btn btn-dark btn-block">Обновить</button>
        </form>
    </div>
{% endblock %}