{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    create Tag
{% endblock %}

{% block content %}
    <div id="main_text_on_page">
        <p>Тут Вы можете создать любой тег. И, впоследствии, привязать к нему любую статью.</p>
        <form action="{% url 'tag_create_url' %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {{ form.tag_title}}
            {{ form.slug}}
            <p id="button_create_tag"><button type="submit" class="btn btn-dark">Создать тег</button></p>
        </form>
    </div>
{% endblock %}