{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    Trands
{% endblock %}

{% block content %}
    <div class="button_create_post_tag">
        <a type="button" class=" btn btn-dark btn-block" href="{% url 'tags_list_url' %}">Теги</a>
        <a type="button" class="btn btn-dark btn-block" href="{% url 'tag_create_url' %}">Создать тег</a>
        <a type="button" class="btn btn-dark btn-block" href="{% url 'post_create_url' %}">Создать пост</a>
    </div>
    <div id="tags_list">
        {% for post in page_objects.object_list %}
            <div id="trends_list">
                <div class="card">
                    <div class="card-body">
                        {% if post.picture %}
                            <img class="card-img-top" src="{{ MEDIA_URL }}{{ post.picture }}"
                                 alt="Мы уже занимаемся поиском вашего изображения">
                        {% endif %}

                        <h5 class="card-title">{{post.article_title}}</h5>
                        <h6 class="card-text">{{post.article_text | truncatechars:60 }}</h6>
                        <a id="btn_read" href="{{ post.get_absolute_url }}" class="btn btn-dark">Читать статью</a>
                    </div>
                    {%  if post.tags.all|length == 0 %}
                        <a class="card-footer small">Тегов нет</a>
                    {% else %}
                        <a class="card-footer small">Теги внутри</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
