

#title {
    font-family: 'Lora', serif;
}

header.nav{
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
    position: fixed;
    top: 3%;
    width: 98%;

}

nav.top_menu{
    width: 98%;
    display: inline;
}

form.button-nav{
    display: inline;
    position: fixed;
    top: 20px;
    left: 150px;
}

form.button-menu{
    display: inline;
    position: fixed;
    top: 20px;
    left: 297px;
}

form.searching{
    position: fixed;
    top: 20px;
    right: 100px;
}


#index_login{
    width: 300px;
    min-height: 250px;

    position: fixed;
    top: 40%;
    right: 43%;
    display: block;
}

input.big_text{
    height: 35px;
    width: 240px;
}

input.registration{
    position: relative;
    left: 48%;
}

#main_body{
    padding: 10px;
    position: fixed;
    top: 12%;
    bottom: 7%;

}

#content_body{
    overflow: auto;
    width: 1050px;
    height: 630px;

    position: relative;


    font-family: 'PT Sans', sans-serif;
    margin-left: 10px;
    margin-right: 10px;

}



#footer{
    font-family: 'Indie Flower', cursive;
    height: 150px;
    width: 98%;
    border-top: 3px solid gray;
    position: fixed;
    top: 92%;
    text-align: center;
}

/*.card{*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-width: 0;*/
/*    word-wrap: break-word;*/
/*    background-color: #fff;*/
/*    background-clip: border-box;*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*    border-radius: .25rem;*/
/*    padding: 10px;*/
/*}*/

/*.card-title{*/
/*    padding: .75rem 1.25rem;*/
/*    margin: 0px 0px;*/
/*    background-color: rgba(0,0,0,.03);*/
/*    border-bottom: 1px solid rgba(0,0,0,.125);*/
/*}*/

/*.card-text{*/
/*    word-wrap: break-word;*/
/*}*/

.error {
    list-style: none;
    color: #d47d77;
    margin-top: 0;
    margin-bottom: 0;

}

