{% extends "mainpage/mainTemplates.html" %}

{% block title %}
    blog list
{% endblock %}

{% block content %}
    <div><a href="{% url 'tags_list_url' %}">tags</a> </div>
    <div><a href="{% url 'tag_create_url' %}">create tag</a> </div>
    <div><a href="{% url 'post_create_url' %}">create post</a> </div>
    <div id="">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.article_title}}</h5>
                    <p class="card-text">{{post.article_text | truncatewords:15}}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read article</a>
                </div>
                <div class="card-footer">{{ post.article_date }}</div>
                <div class="card-footer">автор -{{ post.created_by }}</div>
                <div class="card-footer">
                        {% if post.tags.all|length == 1  %}
                            Тег -
                        {% elif post.tags.all|length >= 2 %}
                            Теги -
                        {% else%}
                            Тегов нет
                        {% endif %}
                        {% for tag in post.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag.tag_title }}</a>
                        {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
        <form action="" method="post">
            {% csrf_token %}
                {{ form }}
            <button type="submit"> Оставить </button>
        </form>





{% endblock %}

